/**
 *  Styles specific to the page.
 */
 
@keyframes shrinkGrow
{
   0% { transform: scale(1, 1); }
   50% { transform: scale(0, 0); }
   100% { transform: scale(1, 1); }
}
 
@keyframes fadeInOut
{
   0% { opacity: 100%; }
   50% { opacity: 0%; }
   100% { opacity: 100%; }
}

@keyframes infrequentWobble
{
    0% { transform: rotate(0deg); }
    1% { transform: rotate(6deg); }
    2% { transform: rotate(-6deg); }
    3% { transform: rotate(3deg); }
    4% { transform: rotate(-3deg); }
    3% { transform: rotate(2deg); }
    4% { transform: rotate(-1deg); }
    5% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
 
.navabar
{
    background-color: black;
    position: sticky;
    display: flex;
    flex-direction: row;
    
    padding: 0px;
    
    z-index: 3;
    
    top: 0;
    left: 0;
    
    height: 50px;
    
    transition: 1s ease all;
}

.navabar .logo
{
    display: inline-block;
    
    /* This is sloppy. Consider fixing it (perhaps using JavaScript?) */
    height: 50px;
    width: 50px;
    
    transform: rotate(0deg);
    
    transition: 0.5s ease all;
}

.navabar .logo:hover
{
    transform: rotate(-5deg);
    cursor: pointer;
}

.navabar button
{
    color: white;
    font: 16pt courier, sans;
    flex-grow: 1;
    
    filter: saturate(10%);
    
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    transition: 0.5s ease all;
}

.navabar button:hover
{
    filter: saturate(40%);
    transform: scale(1, 1.1);
    cursor: pointer;
    
    border-top-right-radius: 1px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 3px;
}

.navabar #title
{
    font: 2em courier, lucida-console, calibri, sans;
    
    color: white;
    display: inline-block;
    
    padding-top: 5px;
    padding-left: 5px;
    
    flex-shrink: 1;
    overflow: hidden;
    word-wrap: none;
    
    text-shadow: 0px 0px 6px rgba(255, 0, 200, 0.8);
}

.navabar .action
{
    flex-grow: 2;
}

.spacer
{
    flex-grow: 8;
}

html, body
{
    margin: 0px;
    padding-bottom: 50px;
}

body
{
    background-image: radial-gradient(rgba(0, 0, 0, 0.8), rgba(100, 0, 100, 0.6));
    background-size: 5px 5px;
}

.logo
{
    box-shadow: 1px 2px 4px rgba(100, 100, 100, 0.6);
    border-radius: 100%;
    background-color: white;
    background-image: radial-gradient(purple, purple, black);
}

.profilePhoto
{
    border-radius: 100%;
    box-shadow: 0px 0px 3px rgba(0, 0, 255, 0.6);
    
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: content;
    
    max-width: 100%;
    max-height: 100%;
    
    margin-left: auto;
    margin-right: auto;
}

.blade
{
    background-color: black;
    box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.7);
    
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0px;
    
    margin-left: 0px;
    
    z-index: 10;
    transform: scale(1, 1.001); /* Works around a layering bug
                                   in Firefox. */
    
    display: flex;
    flex-direction: column;
    
    max-width: 300px;
    width: 100vw;
    filter: opacity(100%);
    
    transition: 0.5s linear all;
}

.blade button
{
    display: block;
    filter: sepia(100%);
}

.blade button:hover
{
    filter: sepia(0%);
    transform: scale(1.1, 1);
    transform-origin: 50% 50%;
    
    cursor: pointer;
}

.blade .authCommands
{
    display: flex;
    flex-direction: column;
}

.bladeClosed
{
    margin-left: -300px; /* The blade's maximum width. */
    filter: opacity(0%);
}

.bladeOpen
{
    margin-left: 0px;
    filter: opacity(100%);
}

.searchContainer
{
    display: flex;
}

.searchContainer input
{
    flex-grow: 3;
    
    background-color: white;
    background-image: none;
    color: rgba(60, 60, 60, 0.8);
    
    border-radius: 2em;
    border: 0px solid white;
    padding: 8px;
    
    margin-right: 3px;
    
    font-size: 11pt;
}

.searchContainer button
{
    flex-grow: 1;
    color: white;
    
    font-weight: bold;
    font-size: 16pt;
}

.searchResults
{
    padding: 8px;
    
    font: 12pt Serif;
    
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    
    display: flex;
    flex-direction: column;
    
    color: white;
}

.searchResults button
{
    color: white;
}

.accountWindow
{
    box-shadow: 0px 0px 64px rgba(0, 0, 255, 0.7);
    background-image: linear-gradient(25deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
    background-color: rgba(150, 0, 100, 0.9);
}

.accountWindowTitleBar, .accountWindowSecuredSettingsTitleBar
{
    background-image: none;
    background-color: rgba(0, 0, 0, 0.0);
    color: black;
    
    box-shadow: none;
    
    border-top-right-radius: 2px;
}

.accountWindowSecuredSettings
{
    box-shadow: 0px 0px 64px rgba(0, 0, 255, 0.7);
    background-image: linear-gradient(25deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    background-color: rgba(0, 0, 0, 0.9);
}

.accountWindowSecuredSettingsTitleBar
{
    color: white;
}

.pageManagementWindow
{
    background-image: none;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.pageManagementWindowTitleBar
{
    background-color: white;
    background-image: none;
    border-top-left-radius: 8px;
    box-shadow: none;
    color: black;
}

.content
{
    max-width: 700px;
    box-shadow: -3px 2px 4px rgba(0, 0, 0, 0.3);
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    background-color: rgba(255, 255, 255, 0.96);
    
    margin-left: auto;
    margin-right: auto;
    
    overflow-x: hidden;
    overflow-y: hidden;
}

.content p
{
    text-indent: 15px;
}

#backgroundAnimation
{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    filter: opacity(30%);
}

#mainData
{   
    transform: scale(1, 1);
    
    transition: 0.5s ease all;
}

.shrinkGrow
{
    animation: 0.5s ease shrinkGrow !important;
}

.fadeInOut
{
    animation: 0.5s ease fadeInOut !important;
}

.lowerLinks
{
    border-top: 1px solid black;
    text-align: center;
    font: 12pt Serif;
}

.lowerLinks a
{
    color: rgba(100, 100, 100, 0.9) !important;
}

.hugeButton
{
    color: white;
    font: 24pt Sans;
    
    cursor: pointer;
}

.rotatedSelector
{
    transform: rotate(-90deg) !important;
}

a
{
    transform: scale(1, 1);
    transition: 0.4s ease all;
}

a:hover
{
    transform: scale(1.1, 1.1);
    display: inline-block; /* Normally, transform doesn't work for links -- they're inline! */
}

.dash
{
    border-bottom: 1.5px solid black;
 
    width: 1em;
    margin-bottom: 0.28em;
 
    display: inline-block;
}

.emphasizedLink
{
    animation: infrequentWobble 60s ease infinite;
    transition: 0.4s ease all;
}

.emphasizedLink:hover
{
    color: rgba(0, 0, 0, 0.9) !important;
    font-size: 18pt;
}

@media print
{
    .navabar
    {
        display: none;
    }
    
    body
    {
        padding: 25px;
        background: white;
    }
    
    .content
    {
        width: auto;
        border: none;
        padding: none;
        box-shadow: none;
    }
    
    #backgroundAnimation
    {
        display: none;
    }
}

@media screen and (max-width: 750px)
{
    .content
    {
        border: none;
        width: auto;
        box-shadow: none;
        
        background-color: white;
    }
    
    body
    {
        color: black;
        background: white !important;
        background-image: none;
    }
    
    .navabar
    {
        position: relative;
        height: auto !important;
        display: block;
    }
    
    #backgroundAnimation
    {
        display: none;
    }
}

.lhdStudyGroup::before {
    content: "Study Group";
    background-color: skyblue;
    border-radius: 10px;
    padding: 0 5px;
    margin-right: 10px;
}

.lhdWorkshop::before {
    content: "Workshop";
    background-color: greenyellow;
    border-radius: 10px;
    padding: 0 5px;
    margin-right: 10px;
}

.lhdSchedule {
    font: 11pt mono, monospace, courier, sans;
    list-style: none;
    padding-left: 0;
}

.lhdSchedule > li {
    margin: 5px 0;
}

.qaSection {
    list-style: none;
    column-count: 2;
    padding: 0 10px;
    margin: 0 0 16px 0;
}

@media screen and (max-width: 750px) {
    .qaSection {
        column-count: 1;
    }
}

details {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    width: 95%;
    display: inline-block;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 400ms ease-in-out;
}

details:hover {
    box-shadow: 0 0 6px palevioletred;
}

summary {
    font-size: large;
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

summary:hover {
    cursor: pointer;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

