/**
 *  Styles specific to the page.
 */
 
@keyframes shrinkGrow
{
   0% { transform: scale(1, 1); }
   50% { transform: scale(0, 0); }
   100% { transform: scale(1, 1); }
}
 
@keyframes fadeInOut
{
   0% { opacity: 100%; }
   50% { opacity: 0%; }
   100% { opacity: 100%; }
}
 
.navabar
{
    background-color: black;
    position: sticky;
    display: flex;
    flex-direction: row;
    
    padding: 0px;
    
    z-index: 3;
    
    top: 0;
    left: 0;
    
    height: 50px;
    
    transition: 1s ease all;
}

.navabar .logo
{
    display: inline-block;
    
    /* This is sloppy. Consider fixing it (perhaps using JavaScript?) */
    height: 50px;
    width: 50px;
    
    transform: rotate(0deg);
    
    transition: 0.5s ease all;
}

.navabar .logo:hover
{
    transform: rotate(-5deg);
    cursor: pointer;
}

.navabar button
{
    color: white;
    font: 16pt courier, sans;
    flex-grow: 1;
    
    filter: saturate(10%);
    
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    transition: 0.5s ease all;
}

.navabar button:hover
{
    filter: saturate(40%);
    transform: scale(1, 1.1);
    cursor: pointer;
    
    border-top-right-radius: 1px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 3px;
}

.navabar #title
{
    font: 2em courier, lucida-console, calibri, sans;
    
    color: white;
    display: inline-block;
    
    padding-top: 5px;
    padding-left: 5px;
    
    flex-shrink: 1;
    overflow: hidden;
    word-wrap: none;
    
    text-shadow: 0px 0px 6px rgba(255, 0, 200, 0.8);
}

.navabar .action
{
    flex-grow: 2;
}

.spacer
{
    flex-grow: 8;
}

html, body
{
    margin: 0px;
    padding-bottom: 50px;
}

body
{
    background-image: radial-gradient(rgba(0, 0, 0, 0.8), rgba(100, 0, 100, 0.6));
    background-size: 5px 5px;
}

.logo
{
    box-shadow: 1px 2px 4px rgba(100, 100, 100, 0.6);
    border-radius: 100%;
    background-color: white;
    background-image: radial-gradient(purple, purple, black);
}

.blade
{
    background-color: black;
    box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.7);
    
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0px;
    
    margin-left: 0px;
    
    z-index: 10;
    transform: scale(1, 1.001); /* Works around a layering bug
                                   in Firefox. */
    
    display: flex;
    flex-direction: column;
    
    max-width: 300px;
    width: 100vw;
    filter: opacity(100%);
    
    transition: 0.5s linear all;
}

.blade button
{
    display: block;
    filter: sepia(100%);
}

.blade button:hover
{
    filter: sepia(0%);
    transform: scale(1.1, 1);
    transform-origin: 50% 50%;
    
    cursor: pointer;
}

.bladeClosed
{
    margin-left: -300px; /* The blade's maximum width. */
    filter: opacity(0%);
}

.bladeOpen
{
    margin-left: 0px;
    filter: opacity(100%);
}

.content
{
    max-width: 700px;
    box-shadow: -3px 2px 4px rgba(0, 0, 0, 0.3);
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    background-color: rgba(255, 255, 255, 0.96);
    
    margin-left: auto;
    margin-right: auto;
    
    overflow-x: hidden;
}

.content p
{
    text-indent: 15px;
}

#backgroundAnimation
{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    filter: opacity(30%);
}

#mainData
{   
    transform: scale(1, 1);
    
    transition: 0.5s ease all;
}

.shrinkGrow
{
    animation: 0.5s ease shrinkGrow !important;
}

.fadeInOut
{
    animation: 0.5s ease fadeInOut !important;
}

.lowerLinks
{
    border-top: 1px solid black;
    text-align: center;
    font: 12pt Serif;
}

.hugeButton
{
    color: white;
    font: 24pt Sans;
}

.lowerLinks a
{
    color: gray !important;
}

.rotatedSelector
{
    transform: rotate(-90deg) !important;
}

@media print
{
    .navabar
    {
        display: none;
    }
    
    body
    {
        padding: 25px;
        background: white;
    }
    
    .content
    {
        width: auto;
        border: none;
        padding: none;
        box-shadow: none;
    }
    
    #backgroundAnimation
    {
        display: none;
    }
}

@media screen and (max-width: 700px)
{
    .content
    {
        border: none;
        width: auto;
        box-shadow: none;
        
        background-color: white;
    }
    
    body
    {
        color: black;
        background: white !important;
        background-image: none;
    }
    
    .navabar
    {
        position: relative;
        height: auto !important;
        display: block;
    }
    
    #backgroundAnimation
    {
        display: none;
    }
}
