/*
  Note: Do a hard refresh after making changes here!
  E.g. in Firefox (Linux), press Ctrl+F5.
 */

@import "./header.css";

:root
{
    --primary-color: hsl(0deg, 0%, 50%);
    --secondary-color: hsl(0deg, 0%, 100%);
    --shadow-color: hsla(12deg, 20%, 20%, 80%);
    --image-invert-amount: 0%;
}

:root.darkmode
{
    --secondary-color: hsl(0deg, 0%, 0%);
    --shadow-color: hsla(120deg, 00%, 50%, 80%);
    --image-invert-amount: 100%;
}

:root.transitioning *
{
    transition: ease 0.5s all;
}

body
{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

body, html
{
    margin: 0px;
}

@media screen and (max-width: 1234px)
{
    footer
    {
        font-size: 12pt;
    }
}

@media screen and (max-width: 700px)
{
    footer > .img
    {
        display: none;
    }
}

/* Global, element-based styling. */
a
{
    transition: 0.4s ease all;

    display: inline-block;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

a:hover
{
    transform: matrix(1.1, 0.01, 0, 1, 0, 0);
}

.spacer
{
    flex-grow: 1;
}
